body{
    margin: 0;
    font-family: sans-serif;
}
.container{
    width: 1140px;
    margin: 0 auto;
}

.toppercase{
    text-transform: uppercase;
}
.clearboth{
    clear: both;
}
.main-header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    box-shadow:0px 0.1px 16px 0px rgb(0 0 0 / 10);
    z-index: 111    ;
}
.main-header-brand {
    display: inline-block;
    vertical-align: middle;
}
.main-header-brand img{
    width: 70px;
}
.main-navigation {
    display: inline-block;
    vertical-align: middle;
    z-index: 111;
}

.main-navigation-item{
    display: inline-block;
    padding: 0.625rem;/*10/16=0.625*/
}

.main-navigation-item a{
    color: #05364d;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.75rem;/*10/16 = 0.75rem*/
}

.main-navigation-item a:hover{
    color: coral;
}

.main-navigation-item.active a{
    color: coral;
}
.section-subtitle{
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 0.625rem;/* 10px / 16=0.625rem*/
    color: #797979;
    text-transform: uppercase;
}
.section-title{
    margin-top: 0.32rem; /*5 / 16 = 0.32rem*/
    font-size: 2.62rem; /* 42 / 16 = 2.62rem*/
    font-weight: 700;
    text-transform: capitalize;
    color: #05364d;
}
.section-description{
    font-size: 0.88rem;
    font-weight: 300;
    color: #797979;
    line-height: 1.69rem;
}
.button{
    border: none;
    background: linear-gradient(to right, #1345e6, #ed239f);
    margin-top: 30px;
    color: #fff;
    font-weight: 500;
    font-size: 0.88rem;/* 14px / 16 = 0.88rem*/
    padding: 1.25rem 2.5rem; /* 20/16=1.25 40/16=2.5rem*/
    cursor: pointer;
    border-radius: 4px;
}
.button:hover{
    /* background-position: right center; */
    background: linear-gradient(to right, #ed239f, #1345e6);
}