

.main-section {
    padding: 6.25rem 1.87rem/*100/16=6.25, 30/16=1.87*/
}

.main-section>div{
    width: 50%;
    float: left;
}
.main-section_img {
    text-align: right;
}

.main-section__welcome{
    font-size: 1rem;/*16/16=1*/
    font-weight: 400;
    margin-bottom: 1.25rem;/*20/16=1.25*/
    color: #797979;
    letter-spacing: 2px;
}
.main-section__intro{
    color: #053643;
    margin-top: 1.25rem;/*20/16=1.25rem*/
    font-size: 3.75rem;/*60/16=3.75*/
    font-weight: 500;
    margin-bottom: 1.25rem;
}
.main-section__position{
    color: #05364E;
    font-size: 1.5rem;/*24/16=1.5*/
    font-weight: 300;
    margin-bottom: 1.25rem;
}
.icons a{
    color: #8fa1aa;
    font-size: 1.25rem;
    display: inline-block;
    cursor: pointer;
    margin: 1.87rem 1rem;/*30/16=1.87, 16/16=1*/
}
.icons a:hover i{
    color: #0000ff;
}
.main-section__action{
    border: none;
}
.statistics{
    padding-top: 6.25rem;/*100/16=6.25*/
}

.statistics__items{
    display: inline-block;
    background-color: #f8fafa;
    text-align: center;
    padding: 0.32rem 1.25rem;
    width: 180px; 
}
/*we must use webkit cause such kind of style is not supported*/
.statistics__number{
    margin-bottom: 0.32rem;
    font-size: 1.69rem;
    margin-right: 1.25rem;
    background: linear-gradient( 90deg, #1345e6 0%, #ed239f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.statistics__title{
    font-size: 1rem;
    color: #797979;
    font-weight: 300;
    margin-right: 1.25rem;
}

.about-me{
    padding: 6.25rem 0;
}
.about-me > div{
    width: 50%;
    float: left;
}

.about-me__button{
    margin-top: 2.5rem;
}
.main-section_img img{
    width: 350px;
}
.about-me__img img{
    width: 90%;
}
.service__card img{
    width: 60px;
}
.services{
    padding: 6.25rem;
}

.service__card{
    display: inline-block;
    width: 30%;
    padding: 3.75rem 1.87rem;
    border-color: #f8faff;
    margin-right: 3%;
    text-align: center; 
    box-sizing: border-box;   
}

.service-card__title{
    color: #05364d;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
}
.service-card__description{
    font-size:0.87rem;
    line-height: 1.69rem;
    font-weight: 300;
    color: #797979;
}
.service-card__link{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.81rem;
    font-weight: 500;
    color: #05364d;
}

.service__card:hover{
    background-color: #06066e;
    border-radius: 0.31rem;
}
.service__card:hover .service-card__title,
.service__card:hover .service-card__description,
.service__card:hover .service-card__link{
    color: #fff;
}
.testimonials{
    padding-top: 6.25rem;
}
.client-item > div{
    float: left;
    width: 50%;
}
.client-item img{
    width: 100%;
}
.client-item__name{
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
} 
.client-item__position{
    font-size: 1.1rem;
    font-weight: 300;
    color: #5b6d75;
}
.client-item__review{
    font-size: 0.87rem;
    line-height: 1.79rem;
    font-weight: 300;
    color: #5b6d75;
}
.client-item__info{
    padding-top: 6.25rem;
}
.fa-star{
    color: #ffff00;
}
.porfolio{
    padding: 6.25rem 0rem;
}
.portfolio-item img {
    width: 100%;
    height: 500px;
}
.portfolio-item .portfolio-img2 {
    width: 100%;
    height: 250px;
}
.portfolio-item .portfolio-img3 {
    width: 100%;
    height: 250px;

}
.portfolio-item{
    position: relative;
    display: inline-block;
    width: 50%;
    padding: 0.62rem 0.62rem;
    box-sizing: border-box;
}
.portfolio-items{
    margin-top: 3.12rem;
    position: relative;
}
.portfolio-item2{
    right: 0;
    top: 0;
    position: absolute;
}
.portfolio-item3{
    position: absolute;
    right: 0;
    top: 15.75rem;
}
.portfolio-item__overlay{
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(19, 69, 230, 0.9);
    visibility: hidden;
    z-index: 1;
}
.portfolio-item__info{
    position: absolute;
    bottom: 2.75rem;
    left: 5rem;
    visibility: hidden;
    z-index: 1;
    color: #fff;
}
.portfolio-item__info a{
    color: #fff;
    text-decoration: none   ;
}
.portfolio-filters{
    margin-top: 3.12rem;
    padding-left: 0;
    list-style: none;
}
.portfolio-filters li{
    display: inline-block;
    margin-right: 2.5rem;
    font-size: 0.81rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}
.portfolio-item1{
    padding-left: 0;
}
.portfolio-filters li:hover,
.portfolio-filters li.active{
    color: #1345e6;
}
.portfolio-item:hover .portfolio-item__overlay{
    visibility: visible;
    top: 1.25rem;
    left: 1.25rem;
    cursor: pointer;
}
.portfolio-item:hover .portfolio-item__info{
    visibility: visible;
    bottom: 1.5rem;
    left: 3.75rem;
}
.main-banner{
    background: url("../imgs/backgroundimg.png") no-repeat top center ;
    background-position: center;
    background-size: cover;
    height: 443px;
}
.blog-item__img img{
   width: 100%;;
    height: 310px;
    border-radius: 0.19rem;
}
.blog{
    padding-top: 6.25rem;
}
.blog-items{
    margin-top: 3.12rem;
}
.blog-item{
    margin-right: 3%;
    display: inline-block;
    width: 30%;
    box-sizing: border-box;
}
.blog-item:hover{
    box-shadow: 0px 10px 20px rgb(5 54 77 / 10%);
}
.blog-item:hover .blog-item__info{
    background-color: #fff;
}
.blog-item__info{
    background-color: #f8faff;
    padding: 1.87rem;
    color: #797979;
}
.blog-item__info span{
    font-size: 0.87rem;
    margin-right: 1.87rem;
    font-weight: lighter;
}
.blog-item__info i{
    margin-right: 0.31rem;
}
.blog-item__title{
    font-size: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 0.94rem;
    color: #05364d;
    font-weight: 700;
}
.blog-item__description{
    line-height: 1.69rem;
    font-weight: 500;
    font-size: 0.94rem;
    font-weight: lighter;
}
.blog-item__learn-more{
    font-size: 0.81rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #05364d;
}
.blog-item__learn-more:hover{
    color: #ed239f;
}
.partners{
    padding-top: 6.25rem;
}
.partner{
    display: inline-block;
    margin: 0rem 3.34rem;
}
.partner img{
    width: 100px;
}