

.main-section {
    padding: 100px 30px;
}

.main-section>div{
    width: 50%;
    float: left;
}
.main-section_img {
    text-align: right;
}

.main-section__welcome{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #797979;
    letter-spacing: 2px;
}
.main-section__intro{
    color: #053643;
    margin-top: 20px;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 20px;
}
.main-section__position{
    color: #05364E;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
}
.icons a{
    color: #8fa1aa;
    font-size: 20px;
    display: inline-block;
    cursor: pointer;
    margin: 30px 16px;
}
.icons a:hover i{
    color: #0000ff;
}
.main-section__action{
    border: none;
}
.statistics{
    padding-top: 100px;
}

.statistics__items{
    display: inline-block;
    background-color: #f8fafa;
    text-align: center;
    padding: 5px 20px;
    width: 180px;
}
/*we must use webkit cause such kind of style is not supported*/
.statistics__number{
    margin-bottom: 5px;
    font-size: 27px;
    margin-right: 20px;
    background: linear-gradient( 90deg, #1345e6 0%, #ed239f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.statistics__title{
    font-size: 16px;
    color: #797979;
    font-weight: 300;
    margin-right: 20px;
}

.about-me{
    padding: 100px 0;
}
.about-me > div{
    width: 50%;
    float: left;
}

.about-me__button{
    margin-top: 40px;
}
.main-section_img img{
    width: 350px;
}
.about-me__img img{
    width: 90%;
}
.service__card img{
    width: 60px;
}
.services{
    padding: 100px;
}

.service__card{
    display: inline-block;
    width: 30%;
    padding: 60px 30px;
    border-color: #f8faff;
    margin-right: 3%;
    text-align: center; 
    box-sizing: border-box;   
}

.service-card__title{
    color: #05364d;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.service-card__description{
    font-size: 14px;
    line-height: 27px;
    font-weight: 300;
    color: #797979;
}
.service-card__link{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    color: #05364d;
}

.service__card:hover{
    background-color: #06066e;
    border-radius: 5px;
}
.service__card:hover .service-card__title,
.service__card:hover .service-card__description,
.service__card:hover .service-card__link{
    color: #fff;
}
.testimonials{
    padding-top: 100px;
}
.client-item > div{
    float: left;
    width: 50%;
}
.client-item img{
    width: 100%;
}
.client-item__name{
    font-size: 20px;
    margin-bottom: 4px;
} 
.client-item__position{
    font-size: 17px;
    font-weight: 300;
    color: #5b6d75;
}
.client-item__review{
    font-size: 14px;
    line-height: 27px;
    font-weight: 300;
    color: #5b6d75;
}
.client-item__info{
    padding-top: 100px;
}
.fa-star{
    color: #ffff00;
}
.porfolio{
    padding: 100px 0px;
}
.portfolio-item img {
    width: 100%;
    height: 500px;
}
.portfolio-item .portfolio-img2 {
    width: 100%;
    height: 250px;
}
.portfolio-item .portfolio-img3 {
    width: 100%;
    height: 250px;

}
.portfolio-item{
    position: relative;
    display: inline-block;
    width: 50%;
    padding: 10px 10px;
    box-sizing: border-box;
}
.portfolio-items{
    margin-top: 50px;
    position: relative;
}
.portfolio-item2{
    right: 0;
    top: 0;
    position: absolute;
}
.portfolio-item3{
    position: absolute;
    right: 0;
    top: 252px;
}
.portfolio-item__overlay{
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(19, 69, 230, 0.9);
    visibility: hidden;
    z-index: 1;
}
.portfolio-item__info{
    position: absolute;
    bottom: 44px;
    left: 80px;
    visibility: hidden;
    z-index: 1;
    color: #fff;
}
.portfolio-item__info a{
    color: #fff;
    text-decoration: none   ;
}
.portfolio-filters{
    margin-top: 50px;
    padding-left: 0;
    list-style: none;
}
.portfolio-filters li{
    display: inline-block;
    margin-right: 40px;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}
.portfolio-item1{
    padding-left: 0;
}
.portfolio-filters li:hover,
.portfolio-filters li.active{
    color: #1345e6;
}
.portfolio-item:hover .portfolio-item__overlay{
    visibility: visible;
    top: 20px;
    left: 20px;
    cursor: pointer;
}
.portfolio-item:hover .portfolio-item__info{
    visibility: visible;
    bottom: 24px;
    left: 60px;
}
.main-banner{
    background: url("../imgs/backgroundimg.png") no-repeat top center ;
    background-position: center;
    background-size: cover;
    height: 443px;
}
.blog-item__img img{
   width: 100%;;
    height: 310px;
    border-radius: 3px;
}
.blog{
    padding-top: 100px;
}
.blog-items{
    margin-top: 50px;
}
.blog-item{
    margin-right: 3%;
    display: inline-block;
    width: 30%;
    box-sizing: border-box;
}
.blog-item:hover{
    box-shadow: 0px 10px 20px rgb(5 54 77 / 10%);
}
.blog-item:hover .blog-item__info{
    background-color: #fff;
}
.blog-item__info{
    background-color: #f8faff;
    padding: 30px;
    color: #797979;
}
.blog-item__info span{
    font-size: 14px;
    margin-right: 30px;
    font-weight: lighter;
}
.blog-item__info i{
    margin-right: 5px;
}
.blog-item__title{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #05364d;
    font-weight: 700;
}
.blog-item__description{
    line-height: 27px;
    font-weight: 500;
    font-size: 15px;
    font-weight: lighter;
}
.blog-item__learn-more{
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #05364d;
}
.blog-item__learn-more:hover{
    color: #ed239f;
}
.partners{
    padding-top: 100px;
}
.partner{
    display: inline-block;
    margin: 0px 54px;
}
.partner img{
    width: 100px;
}